In [1]:
import pandas as pd
import seaborn as sns
import os
from tqdm import tqdm

In [2]:
data_path_2 = "train_dataset_train_data_Sila/train_data_Sila/data_example/data_Q2_2024/"

csv_files_2 = [f for f in os.listdir(data_path_2) if f.endswith('.csv')]
csv_files_2.sort()

dfs = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    ls1 = df2[df2['failure'] == 1]['serial_number'].tolist()

    df = df2[df2['serial_number'].isin(ls1)]
    dfs.append(df)

100%|███████████████████████████████████████████| 91/91 [02:22<00:00,  1.57s/it]

In [3]:
combined_df = pd.concat(dfs, ignore_index=True)

In [12]:
ls1 = combined_df['serial_number'].unique().tolist()

dfs2 = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    df = df2[df2['serial_number'].isin(ls1)]
    dfs2.append(df)

100%|███████████████████████████████████████████| 91/91 [02:20<00:00,  1.54s/it]

In [13]:
combined_df2 = pd.concat(dfs2, ignore_index=True)

In [18]:
combined_df2.to_parquet("Q2_2024.pq")

<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow.lib.IpcWriteOptions size changed, may indicate binary incompatibility. Expected 72 from C header, got 88 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow.lib.IpcReadOptions size changed, may indicate binary incompatibility. Expected 96 from C header, got 104 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow._fs.FileInfo size changed, may indicate binary incompatibility. Expected 64 from C header, got 88 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow._fs.FileSelector size changed, may indicate binary incompatibility. Expected 48 from C header, got 72 from PyObject

In [19]:
data = pd.read_parquet("Q2_2024.pq")

## Q1 2024

In [30]:
data_path_2 = "train_dataset_train_data_Sila/train_data_Sila/data_example/data_Q1_2024/"

csv_files_2 = [f for f in os.listdir(data_path_2) if f.endswith('.csv')]
csv_files_2.sort()

arrs = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    ls1 = df2[df2['failure'] == 1]['serial_number'].tolist()
    arrs+=ls1

100%|███████████████████████████████████████████| 91/91 [02:15<00:00,  1.49s/it]

In [37]:
len(arrs), len(combined_df2['serial_number'].unique().tolist())

(978, 1230)

In [35]:
ls1 = list(set(combined_df2['serial_number'].unique().tolist()+arrs))

In [39]:
dfs2 = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    df = df2[df2['serial_number'].isin(ls1)]
    dfs2.append(df)

100%|███████████████████████████████████████████| 91/91 [02:13<00:00,  1.47s/it]

In [40]:
combined_df_q1_24 = pd.concat(dfs2, ignore_index=True)

In [50]:
combined_df_q1_24.to_parquet("Q1_2024.pq")

In [58]:
combined_df_q1_24.shape

(144203, 193)

## Q4 2023

In [51]:
data_path_2 = "train_dataset_train_data_Sila/train_data_Sila/data_example/data_Q4_2023/"

csv_files_2 = [f for f in os.listdir(data_path_2) if f.endswith('.csv')]
csv_files_2.sort()

arrs = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    ls1 = df2[df2['failure'] == 1]['serial_number'].tolist()
    arrs+=ls1

100%|███████████████████████████████████████████| 92/92 [02:08<00:00,  1.39s/it]

In [52]:
len(arrs), len(combined_df_q1_24['serial_number'].unique().tolist())

(1057, 2146)

In [53]:
ls1 = list(set(combined_df_q1_24['serial_number'].unique().tolist()+arrs))
len(ls1)

3203

In [54]:
dfs2 = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    df = df2[df2['serial_number'].isin(ls1)]
    dfs2.append(df)

100%|███████████████████████████████████████████| 92/92 [02:13<00:00,  1.45s/it]

In [55]:
combined_df_q4_23 = pd.concat(dfs2, ignore_index=True)

In [56]:
combined_df_q4_23.to_parquet("Q4_2023.pq")

In [57]:
combined_df_q4_23.shape

(231373, 193)

## Q3 2023

In [68]:
data_path_2 = "train_dataset_train_data_Sila/train_data_Sila/data_example/data_Q3_2023/"

csv_files_2 = [f for f in os.listdir(data_path_2) if f.endswith('.csv')]
csv_files_2.sort()

arrs = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    ls1 = df2[df2['failure'] == 1]['serial_number'].tolist()
    arrs+=ls1

100%|███████████████████████████████████████████| 66/66 [01:28<00:00,  1.34s/it]

In [69]:
len(arrs), len(combined_df_q4_23['serial_number'].unique().tolist())

(724, 3141)

In [74]:
ls1 = list(set(combined_df_q4_23['serial_number'].unique().tolist()+arrs))
len(ls1)

3865

In [75]:
dfs2 = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    df = df2[df2['serial_number'].isin(ls1)]
    dfs2.append(df)

100%|███████████████████████████████████████████| 66/66 [01:25<00:00,  1.30s/it]

In [76]:
combined_df_q3_23 = pd.concat(dfs2, ignore_index=True)
combined_df_q3_23.to_parquet("Q3_2023.pq")

In [77]:
combined_df_q3_23.shape

(220489, 193)

## Q2 2023

In [78]:
data_path_2 = "train_dataset_train_data_Sila/train_data_Sila/data_example/data_Q2_2023/"

csv_files_2 = [f for f in os.listdir(data_path_2) if f.endswith('.csv')]
csv_files_2.sort()

arrs = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    ls1 = df2[df2['failure'] == 1]['serial_number'].tolist()
    arrs+=ls1

100%|███████████████████████████████████████████| 91/91 [01:37<00:00,  1.07s/it]

In [79]:
len(arrs), len(combined_df_q3_23['serial_number'].unique().tolist())

(1389, 3777)

In [80]:
ls1 = list(set(combined_df_q3_23['serial_number'].unique().tolist()+arrs))
len(ls1)

5166

In [81]:
dfs2 = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    df = df2[df2['serial_number'].isin(ls1)]
    dfs2.append(df)

100%|███████████████████████████████████████████| 91/91 [01:43<00:00,  1.14s/it]

In [82]:
combined_df_q2_23 = pd.concat(dfs2, ignore_index=True)
combined_df_q2_23.to_parquet("Q2_2023.pq")

In [84]:
combined_df_q2_23.shape

(369815, 186)

## Q1 2023

In [85]:
data_path_2 = "train_dataset_train_data_Sila/train_data_Sila/data_example/data_Q1_2023/"

csv_files_2 = [f for f in os.listdir(data_path_2) if f.endswith('.csv')]
csv_files_2.sort()

arrs = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    ls1 = df2[df2['failure'] == 1]['serial_number'].tolist()
    arrs+=ls1

100%|███████████████████████████████████████████| 90/90 [01:28<00:00,  1.01it/s]

In [86]:
len(arrs), len(combined_df_q2_23['serial_number'].unique().tolist())

(929, 4954)

In [87]:
ls1 = list(set(combined_df_q2_23['serial_number'].unique().tolist()+arrs))
len(ls1)

5883

In [88]:
dfs2 = []  # список для хранения DataFrame'ов
for file in tqdm(csv_files_2):
    file_path = os.path.join(data_path_2, file)
    df2 = pd.read_csv(file_path)
    df = df2[df2['serial_number'].isin(ls1)]
    dfs2.append(df)

100%|███████████████████████████████████████████| 90/90 [01:31<00:00,  1.02s/it]

In [89]:
combined_df_q1_23 = pd.concat(dfs2, ignore_index=True)
combined_df_q1_23.to_parquet("Q1_2023.pq")

In [91]:
combined_df_q1_23.shape

(482021, 179)

In [93]:
combined_df_q1_23.head(1)

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2023-01-01,W300T02T,ST4000DM000,4000787030016,0,114.0,66331104.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
combined_df_q2_23.head(1)

,date,serial_number,model,capacity_bytes,failure,vault_id,pod_id,is_legacy_format,smart_1_normalized,smart_1_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2023-04-01,W300R8BM,ST4000DM000,4000787030016,0,1000,16,False,108.0,17541336.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
combined_df_q3_23.head(1)

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2023-07-01,Z302BN64,ST4000DM000,4000787030016,0,sac0,0,1001,1,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
combined_df_q4_23.head(1)

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2023-10-01,Z4D019KB,ST6000DX000,6001175126016,0,sac0,0,1002,2,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
combined_df_q1_24.head(1)

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2024-01-01,Z302AKQM,ST4000DM000,4000787030016,0,sac0,0,1004,10,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
data.head(1)

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2024-04-01,Z305BHRS,ST4000DM000,4000787030016,0,sac0,0,1019,0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
combined_df_q2_24 = pd.read_parquet("Q2_2024.pq")
combined_df_q1_24 = pd.read_parquet("Q1_2024.pq")
combined_df_q4_23 = pd.read_parquet("Q4_2023.pq")
combined_df_q3_23 = pd.read_parquet("Q3_2023.pq")
combined_df_q2_23 = pd.read_parquet("Q2_2023.pq")
combined_df_q1_23 = pd.read_parquet("Q1_2023.pq")

<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow.lib.IpcWriteOptions size changed, may indicate binary incompatibility. Expected 72 from C header, got 88 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow.lib.IpcReadOptions size changed, may indicate binary incompatibility. Expected 96 from C header, got 104 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow._fs.FileInfo size changed, may indicate binary incompatibility. Expected 64 from C header, got 88 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: pyarrow._fs.FileSelector size changed, may indicate binary incompatibility. Expected 48 from C header, got 72 from PyObject

In [3]:
cols = combined_df_q1_23.columns

In [5]:
data_train = pd.concat([combined_df_q2_24[cols], 
           combined_df_q1_24[cols], 
           combined_df_q4_23[cols],
           combined_df_q3_23[cols],
           combined_df_q2_23[cols],
           combined_df_q1_23[cols]
          ])

In [10]:
data_train.to_parquet("data_train.pq")